<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <compilation debug="false" />

</configuration>
<!--
<configuration>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.Xna.Framework" publicKeyToken="" />
                <codeBase version="4.0.0.0" href="C:\Program Files (x86)\Microsoft XNA\XNA Game Studio\v4.0\References\Windows\x86\Microsoft.Xna.Framework.dll" />
                <codeBase version="3.0.1.0" href="C:\Program Files (x86)\MonoGame\v3.0\Assemblies\WindowsGL\MonoGame.Framework.dll" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
</configuration>
-->